/*CSS des pages Menu*/
@import "variables";

body{
    margin:0;
    padding:0;
    width: 100%; 
    font-family: roboto, Shrikhand, sans-serif; 
    * {
        box-sizing:border-box;
    }
}

/*HEADER*/

.menuheader{
    height: 50px;
    width: 100%;
    font-family: Shrikhand;
    background-color: $bg-lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
        .menuheader__a{
            text-decoration: none;
            color: black;
            width: 25%;
            align-items: center;
            font-size: 1em;
        }
        .menuheader__i{
            font-size: 18px;
            margin: 0 0 15px 18px;
            }
        .menuheader__p{
            font-size: 25px;
        }
        #space{
            width: 25%;
        }
}

/*SECTION PHOTO*/

.banner{
    object-fit: cover;
    width: 100%;
    height: 250px;
}

/*SECTION MENU*/

.menu{
    background-color: $bg-lightgrey;
    font-family: Roboto;
    border-radius: 2em 2em 0 0;
    margin-top: -35px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    @keyframes transition {
        0%   { 
            transform: translateY(50px);
            opacity:0; 
        }
        100% { 
            transform: translateY(0px);
            opacity:1; 
        }
    }
    .menu__article {
        opacity: 0;
        animation: transition 1s ease-in-out 2s forwards;
        &:nth-child(2){
            animation: transition 1s ease-in-out 2.5s forwards;
        }
        &:nth-child(3){
            animation: transition 1s ease-in-out 3s forwards;
        }
        &:nth-child(4){
            animation: transition 1s ease-in-out 3.5s forwards;
        }
        &:nth-child(5){
            animation: transition 1s ease-in-out 4s forwards;
        }
        &:nth-child(6){
            animation: transition 1s ease-in-out 4.5s forwards;
        }
        &:nth-child(7){
            animation: transition 1s ease-in-out 5s forwards;
        }
        &:nth-child(8){
            animation: transition 1s ease-in-out 5.5s forwards;
        }
        &:nth-child(9){
            animation: transition 1s ease-in-out 6s forwards;
        }
    }

    .heading{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        margin-top: 0;
        margin-left: -10px;
        width: 100%;
        position: relative;
        .heading__h1{
            font-size: 1.5em;
            font-family: Shrikhand;
            margin: 5px 20px 5px 0px;
            padding: 20px 20px 0px 0px;
        }
        .heading__icone{
            font-size: 1.3em;
            position: absolute;
            color: black;
            right: 40px;
            top: 30px;
            .heading__icone-vide{
                position: absolute;
                opacity: 1;
                transition: opacity 1000ms;
            }
            .heading__icone-plein{
                position: absolute;
                opacity: 0;
                transition: opacity 1000ms;
            }
            &:hover{
                .heading__icone-vide{
                    opacity: 0;
                    transition: opacity 1000ms;
                }
                .heading__icone-plein{
                    opacity: 1;
                    background: linear-gradient(to bottom right, $secondary, $primary);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    transition: opacity 1000ms;
                }
            }
        }
    }
    
    .menu__h2{
        font-size: 1.2em;
        font-weight: lighter;
        padding: 10px 0px 10px 0px;
        display: inline;
        text-align: left;
        margin: 15px 0 0 20px;
        .underlined{
            border-bottom: 4px solid $tertiary;
        }
    }
    .courses{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu__article{
        background-color: white;
        border-radius: 1em;
        margin: 5px 0px 10px 0px;
        box-shadow: 1px 1px 12px rgb(197, 197, 197);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        /*A VOIR AVEC QUENTIN - NE MARCHE PAS*/
        cursor: pointer;
        .whitediv{
            display: flex;
            flex-direction: column;
            padding: 5px 10px 5px 10px;
            flex: 1;
            overflow: hidden;
            .whitediv_mealname{
                font-weight: bold;
                font-size: 1em;
                margin-top: 5px; 
                margin-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .whitediv_articlelign2{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                .whitediv_articlelign2__p{
                    font-size: 0.8em;
                    margin-top: 2px;
                    margin-bottom: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .greendiv{
            width: 0%;
            background-color: $tertiary;
            border-radius: 0 1em 1em 0;
            /*A VOIR AVEC QUENTIN*/
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            height: auto;
            transition: width 1s;
            overflow: hidden;
            .greendiv_tick{
                background-color: white;
                border-radius: 50%;
                width: 22px;
                height: 22px;
                padding-top: 2px;
                transform: rotate(0deg);
                transition : transform 1s;
                .fas.fa-check{
                    color: $tertiary;
                    font-size: 1em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        &:hover{
            .greendiv{
                width: 25%;
                transition: width 1s;
                .greendiv_tick{
                    transform: rotate(360deg);
                    transition: transform 1s;
                }
            }
        }
    }

    .button{
        text-align: center;
    }
    .menu__button{
        background: linear-gradient(to bottom right, $secondary, $primary);
        color: white;
        width: 180px;
        height: 40px; 
        border-radius: 1.5em;
        border: 0px;
        margin-bottom: 40px;
        margin-top: 30px;
        box-shadow: 1px 1px 12px rgb(197, 197, 197);
        &:hover{
            background: linear-gradient(to bottom right, #FF93FA, #AD70F6);
            box-shadow: 2px 2px 14px rgb(121, 121, 121);
        }
    }
}

/*FOOTER*/

footer{
    background-color: $footer;
    color: white;
    padding : 20px;
    .footer__logo{
        font-family: Shrikhand;
        font-size: 1.3em;
        margin-top: 0;
    }
    .footer__ul{
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        font-size: 1.1em;
    }
    .footer__li{
        margin-bottom: 10px;
        .footer__i{
            width: 16px;
            margin-right: 8px;
        }
    }
}

/* RESOLUTION TABLETTE */

@media screen 
        and (min-width : 768px) and (max-width : 1023px) 
{
        body{
            width: auto;
        } 

        /*HEADER*/

    .menuheader{
        height: 100px;
        text-align: center;
    /*A CHANGER*/
            .menuheader__a{
                width: 25%;
            }
            .menuheader__i{
                font-size: 40px;
                }
            .menuheader__p{
                font-size: 50px;
            }
    }

    /*SECTION PHOTO*/

    .banner{
        object-fit: cover;
        width: 100%;
        height: 400px;
    }

    /*SECTION MENU*/

    .menu{
        .heading{
            justify-content: space-around;
            padding: 20px 50px 0px 30px;
            .heading__h1{
                font-size: 2em;
            }
            .heading__icone{
                font-size: 2em;
            }
        }
        
        .menu__h2{
            font-size: 1.6em;
            margin-bottom: 15px;
        }
        .courses{
            width: 100%;
        }

        .menu__article{
            width: 70%;
            height: 80px;
            .mealname{
                font-size: 1.5em;
            }
            .articlelign2{
                .articlelign2__p{
                    font-size: 1.3em;
                }
            }
        }

        .menu__button{
            width: 250px;
            height: 50px; 
            border-radius: 2em;
            font-size: 23px;
            margin: 50px 0 40px 0;
        }
    }
}


/* RESOLUTION DESKTOP */

@media screen 
    and (min-width : 1024px)
{

    body{
        width: auto;
    } 

    /*HEADER*/

    .menuheader{
        height: 100px;
    /*A CHANGER*/
            .menuheader__a{
                width: 25%;
            }
            .menuheader__i{
                font-size: 40px;
                }
            .menuheader__p{
                font-size: 50px;
                width: 75%;
            }
    }

   /*SECTION PHOTO*/

   .banner{
    object-fit: cover;
    width: 100%;
    height: 500px;
}

    /*SECTION MENU*/

    .menu{
        .heading{
            justify-content: space-between;
            padding: 20px 50px 0px 30px;
            color: red;
            /*NE MARCHE PAS*/
            .heading__h1{
                font-size: 4em;
            }
            .heading__icone{
                font-size: 2em;
                /*A CORRIGER*/
                margin-right: 50px;
            }
        }
    }
        
        .menu__h2{
            font-size: 1.6em;
            margin-bottom: 15px;
        }
        .courses{
            width: 100%;
        }

        .menu__article{
            width: 60%;
            height: 80px;
            .mealname{
                font-size: 1.5em;
            }
            .articlelign2{
                .articlelign2__p{
                    font-size: 1.3em;
                }
            }
        }

        .menu__button{
            width: 250px;
            height: 50px; 
            border-radius: 2em;
            font-size: 23px;
            margin: 50px 0 40px 0;
        }

}
