@import "variables";
@import "menupages";

body{
    margin:0;
    padding:0;
    width: 100%;
    font-family: roboto, Shrikhand, sans-serif; 
    * {
        box-sizing:border-box;
    }
}

header{
    height:70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Shrikhand;
    font-size: 2em;
}

/* FORMULAIRE DE RECHERCHE */

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-color: $bg-darkgrey;
    width: 100%;
    box-shadow: inset 5px 10px 10px -10px grey;
    .form__recherche{
        background-color: $bg-darkgrey;
        border: none;
        padding-left: 20px;
        height: 25px;
        font-size: 1.2em;
    }
}

/* SECTION 1 - RESERVEZ ET EXPLOREZ */

.section1{
    background-color: $bg-lightgrey;
    text-align: center;
    .section1__h1{
        font-size: 1.6em;
        margin-top: 0;
        padding: 40px 10px 10px 10px;
    }
    .section1__p{
        font-size: 1em;
    }
    .section1__button{
        background: linear-gradient(to bottom right, $secondary, $primary);
        color: white;
        width: 200px;
        height: 40px; 
        border-radius: 1.5em;
        border: 0px;
        margin-bottom: 40px;
        box-shadow: 1px 1px 12px rgb(197, 197, 197);
    }
}

/* SECTION 2 - FONCTIONNEMENT */

h2{
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 20px;
}

.section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    .section2__article{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        width : 85%;
        background-color: $bg-lightgrey;
        border-radius: 1em;
        margin-bottom: 20px;
        box-shadow: 1px 1px 12px rgb(197, 197, 197);
        .section2__number{
            color: white;
            font-size: 20px;
            background-color: $primary;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-left : -15px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .section2__i{
            font-size: 20px;
            margin: 0 20px 0 20px;
            color: gray;
        }
        &:hover{
            background-color: $click-article;
            .section2__i{
                color: $primary;
            }
        }
    }
}

/* SECTION 3 - RESTAURANTS */

h3{
    padding-top: 30px;
    padding-bottom: 15px;
    margin-left: 20px;
    font-size: 1.5em;
}

.section3{
    background-color: $bg-lightgrey;
    .section3__block{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: 40px;
        .section3__article{
            background-color: white;
            border-radius: 1em;
            box-shadow: 1px 1px 12px rgb(197, 197, 197);
            width: 90%;
            margin-bottom: 20px;
            position: relative;
            .greensign{
                position: absolute;
                top: 10px;
                right: 15px;
                background-color: $tertiary;
                margin: 0;
                padding: 7px 12px 5px 12px;
                border-radius: 2px;
                .greensign__p{
                    color: #249c7f;
                    margin: 0;
                    font-weight: bold;
                }
            }
            .section3__img{
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 1em 1em 0 0;
                object-position: bottom;
                &.imgfitcenter{
                    object-position: center;
                }
            }
            .section3__box{
                display: flex;
                flex-direction: row;
                align-items: center;
                .section3__divtext{
                    display: flex;
                    flex-direction: column;
                    width: 87%;
                    padding-left: 20px;
                    font-size: 1.2em;
                    .section3__h4{
                        margin: 0;
                        padding-top: 10px;
                    }
                    .section3__p{
                        margin: 5px 0 20px 0;
                    }
                }
                .section3__icone{
                    font-size: 1.4em;
                }
            }
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
}


img{
    width: 100%;
    height: auto;
    object-fit: cover;
}


/* FOOTER */

footer{
    background-color: $footer;
    color: white;
    padding : 20px;
    .footer__logo{
        font-family: Shrikhand;
        font-size: 1.3em;
        margin-top: 0;
    }
    .footer__ul{
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        font-size: 1.1em;
    }
    .footer__li{
        margin-bottom: 10px;
        .footer__i{
            width: 16px;
            margin-right: 8px;
        }
        a{
            text-decoration: none;
            color: white;
        }
    }
}
