/*CSS des pages Menu*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: roboto, Shrikhand, sans-serif;
}
body * {
  box-sizing: border-box;
}

/*HEADER*/
.menuheader {
  height: 50px;
  width: 100%;
  font-family: Shrikhand;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
}
.menuheader .menuheader__a {
  text-decoration: none;
  color: black;
  width: 25%;
  align-items: center;
  font-size: 1em;
}
.menuheader .menuheader__i {
  font-size: 18px;
  margin: 0 0 15px 18px;
}
.menuheader .menuheader__p {
  font-size: 25px;
  width: 75%;
}

/*SECTION PHOTO*/
.banner {
  object-fit: cover;
}

/*SECTION MENU*/
.menu {
  background-color: #f6f6f6;
  font-family: Roboto;
  border-radius: 2em 2em 0 0;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.menu .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 0;
  padding: 20px 20px 20px 0;
  width: 100%;
}
.menu .heading .heading__h1 {
  font-size: 1.5em;
  font-family: Shrikhand;
  margin: 5px 20px 5px 20px;
  margin-top: 5px;
  margin-right: 30px;
}
.menu .heading .far.fa-heart {
  font-size: 1.5em;
}
.menu .menu__h2 {
  font-size: 1.2em;
  font-weight: lighter;
  padding: 10px 0px 10px 0px;
  display: inline;
  text-align: left;
  margin: 0 0 0 20px;
}
.menu .menu__h2 .underlined {
  border-bottom: 4px solid #99E2D0;
}
.menu .courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__article {
  background-color: white;
  border-radius: 1em;
  width: 90%;
  margin: 5px 0px 10px 0px;
  padding: 5px 10px 5px 10px;
  box-shadow: 1px 1px 12px #c5c5c5;
}
.menu .menu__article .mealname {
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu .menu__article .articlelign2 {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.menu .menu__article .articlelign2 .articlelign2__p {
  font-size: 0.8em;
  margin-top: 2px;
  margin-bottom: 5px;
}
.menu .button {
  text-align: center;
}
.menu .menu__button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  width: 180px;
  height: 40px;
  border-radius: 1.5em;
  border: 0px;
  margin-bottom: 40px;
  margin-top: 30px;
  box-shadow: 1px 1px 12px #c5c5c5;
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer .footer__logo {
  font-family: Shrikhand;
  font-size: 1.3em;
  margin-top: 0;
}
footer .footer__ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.1em;
}
footer .footer__li {
  margin-bottom: 10px;
}
footer .footer__li .footer__i {
  width: 16px;
  margin-right: 8px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: roboto, Shrikhand, sans-serif;
}
body * {
  box-sizing: border-box;
}

header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Shrikhand;
  font-size: 25px;
}

/* FORMULAIRE DE RECHERCHE */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #eaeaea;
  width: 100%;
  box-shadow: inset 5px 8px 8px -10px grey;
}
.form i {
  font-size: 15px;
}
.form .form__recherche {
  padding-left: 14px;
  height: 25px;
  font-size: 15px;
  margin: 0;
  padding-top: 4px;
}

/* SECTION 1 - RESERVEZ ET EXPLOREZ */
.section1 {
  background-color: #f6f6f6;
  text-align: center;
}
.section1 .section1__h1 {
  font-size: 1.4em;
  margin-top: 0;
  padding: 40px 10px 10px 10px;
  margin-bottom: 5px;
}
.section1 .section1__p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 30px;
}
.section1 .section1__button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  width: 180px;
  height: 40px;
  border-radius: 1.5em;
  border: 0px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 12px #c5c5c5;
}

/* SECTION 2 - FONCTIONNEMENT */
h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 20px;
}

.section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section2 .section2__article {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 85%;
  background-color: #f6f6f6;
  border-radius: 1em;
  margin-bottom: 20px;
  box-shadow: 1px 1px 12px #c5c5c5;
}
.section2 .section2__article .section2__number {
  color: white;
  font-size: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section2 .section2__article .section2__i {
  font-size: 20px;
  margin: 0 20px 0 20px;
  color: gray;
}
.section2 .section2__article:hover {
  background-color: #f5edff;
}
.section2 .section2__article:hover .section2__i {
  color: #9356DC;
}

/* SECTION 3 - RESTAURANTS */
h3 {
  padding-top: 50px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.section3 {
  background-color: #f6f6f6;
  margin-top: 30px;
}
.section3 .section3__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
}
.section3 .section3__block .section3__article {
  background-color: white;
  border-radius: 1em;
  box-shadow: 1px 1px 12px #c5c5c5;
  width: 90%;
  margin-bottom: 20px;
  position: relative;
}
.section3 .section3__block .section3__article .greensign {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  margin: 0;
  padding: 7px 12px 5px 12px;
  border-radius: 2px;
}
.section3 .section3__block .section3__article .greensign .greensign__p {
  color: #249c7f;
  margin: 0;
  font-weight: bold;
}
.section3 .section3__block .section3__article .section3__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  object-position: bottom;
}
.section3 .section3__block .section3__article .section3__img.imgfitcenter {
  object-position: center;
}
.section3 .section3__block .section3__article .section3__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section3 .section3__block .section3__article .section3__box .section3__divtext {
  display: flex;
  flex-direction: column;
  width: 87%;
  padding-left: 20px;
  font-size: 1.2em;
}
.section3 .section3__block .section3__article .section3__box .section3__divtext .section3__h4 {
  margin: 0;
  padding-top: 10px;
}
.section3 .section3__block .section3__article .section3__box .section3__divtext .section3__p {
  margin: 5px 0 20px 0;
}
.section3 .section3__block .section3__article .section3__box .section3__icone {
  font-size: 1.4em;
}
.section3 .section3__block a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* FOOTER */
footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer .footer__logo {
  font-family: Shrikhand;
  font-size: 1.3em;
  margin-top: 0;
}
footer .footer__ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.1em;
}
footer .footer__li {
  margin-bottom: 10px;
}
footer .footer__li .footer__i {
  width: 16px;
  margin-right: 8px;
}
footer .footer__li a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
