body .section1 .section1__button:hover {
  background: linear-gradient(to bottom right, #FF93FA, #AD70F6);
  box-shadow: 2px 2px 14px #797979;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: roboto, Shrikhand, sans-serif;
  /*HEADER*/
  /* FORMULAIRE DE RECHERCHE */
  /* SECTION 1 - RESERVEZ ET EXPLOREZ */
  /* SECTION 2 - FONCTIONNEMENT */
  /* SECTION 3 - RESTAURANTS */
  /* FOOTER */
}
body * {
  box-sizing: border-box;
}
@keyframes fadeoutloader {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
body #loader-container {
  position: fixed;
  background-color: #eaeaea;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*A VOIR AVEC QUENTIN*/
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeoutloader 3s forwards;
}
body #loader-container .loader {
  margin: 0;
  padding: 0;
  position: relative;
  width: 200px;
  height: 200px;
  border: 4px solid #240229;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.4), inset -5px -5px 5px rgba(255, 255, 255, 0.2), inset 10px 10px 10px rgba(0, 0, 0, 0.4);
}
body #loader-container .loader:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background: #eaeaea;
  border-radius: 50%;
  border: 2px solid #240229;
  box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2), inset 3px 3px 5px rgba(0, 0, 0, 0.5);
}
body #loader-container .loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: linear-gradient(-225deg, #FF79DA 0%, #9356DC 100%);
  filter: blur(20px);
  z-index: 9;
  animation: animate 0.5s linear infinite alternate;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Shrikhand;
  font-size: 25px;
}
body .form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #eaeaea;
  width: 100%;
  box-shadow: inset 5px 8px 8px -10px grey;
}
body .form i {
  font-size: 15px;
}
body .form .form__recherche {
  padding-left: 14px;
  height: 25px;
  font-size: 15px;
  margin: 0;
  padding-top: 4px;
}
body .section1 {
  background-color: #f6f6f6;
  text-align: center;
}
body .section1 .section1__h1 {
  font-size: 1.4em;
  margin-top: 0;
  padding: 40px 10px 10px 10px;
  margin-bottom: 5px;
}
body .section1 .section1__p {
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 30px;
}
body .section1 .section1__button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  width: 180px;
  height: 40px;
  border-radius: 1.5em;
  border: 0px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 12px #c5c5c5;
}
body h2 {
  padding-top: 30px;
  padding-bottom: 15px;
  margin-left: 20px;
}
body .section2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .section2 .section2__article {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 85%;
  background-color: #f6f6f6;
  border-radius: 1em;
  margin-bottom: 20px;
  box-shadow: 1px 1px 12px #c5c5c5;
}
body .section2 .section2__article .section2__number {
  color: white;
  font-size: 20px;
  background-color: #9356DC;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section2 .section2__article .section2__i {
  font-size: 20px;
  margin: 0 20px 0 20px;
  color: gray;
}
body .section2 .section2__article:hover {
  background-color: #f5edff;
}
body .section2 .section2__article:hover .section2__i {
  color: #9356DC;
}
body h3 {
  padding-top: 50px;
  padding-bottom: 15px;
  margin-left: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
body .section3 {
  background-color: #f6f6f6;
  margin-top: 30px;
}
body .section3 .section3__block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 40px;
}
body .section3 .section3__block .section3__article {
  background-color: white;
  border-radius: 1em;
  box-shadow: 1px 1px 12px #c5c5c5;
  width: 90%;
  margin-bottom: 20px;
  position: relative;
}
body .section3 .section3__block .section3__article .greensign {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: #99E2D0;
  margin: 0;
  padding: 7px 12px 5px 12px;
  border-radius: 2px;
}
body .section3 .section3__block .section3__article .greensign .greensign__p {
  color: #249c7f;
  margin: 0;
  font-weight: bold;
}
body .section3 .section3__block .section3__article .section3__img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
  object-position: bottom;
}
body .section3 .section3__block .section3__article .section3__img.imgfitcenter {
  object-position: center;
}
body .section3 .section3__block .section3__article .section3__box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body .section3 .section3__block .section3__article .section3__box .section3__divtext {
  display: flex;
  flex-direction: column;
  width: 87%;
  padding-left: 20px;
  font-size: 1.2em;
}
body .section3 .section3__block .section3__article .section3__box .section3__divtext .section3__h4 {
  margin: 0;
  padding-top: 10px;
}
body .section3 .section3__block .section3__article .section3__box .section3__divtext .section3__p {
  margin: 5px 0 20px 0;
}
body .section3 .section3__block .section3__article a {
  text-decoration: none;
  color: black;
}
body .section3 .section3__block .section3__article .section3__icone {
  font-size: 1.6em;
  position: absolute;
  bottom: 50px;
  right: 40px;
}
body .section3 .section3__block .section3__article .section3__icone .section3__icone-vide {
  position: absolute;
  opacity: 1;
  transition: opacity 1000ms;
}
body .section3 .section3__block .section3__article .section3__icone .section3__icone-plein {
  position: absolute;
  opacity: 0;
  transition: opacity 1000ms;
}
body .section3 .section3__block .section3__article .section3__icone:hover .section3__icone-vide {
  opacity: 0;
  transition: opacity 1000ms;
}
body .section3 .section3__block .section3__article .section3__icone:hover .section3__icone-plein {
  opacity: 1;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 1000ms;
  /*Voir https://cssgradient.io/blog/css-gradient-text/*/
}
body footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
body footer .footer__logo {
  font-family: Shrikhand;
  font-size: 1.3em;
  margin-top: 0;
}
body footer .footer__ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.1em;
}
body footer .footer__li {
  margin-bottom: 10px;
}
body footer .footer__li .footer__i {
  width: 16px;
  margin-right: 8px;
}
body footer .footer__li a {
  text-decoration: none;
  color: white;
}

/*CSS des pages Menu*/
body .section1 .section1__button:hover {
  background: linear-gradient(to bottom right, #FF93FA, #AD70F6);
  box-shadow: 2px 2px 14px #797979;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: roboto, Shrikhand, sans-serif;
}
body * {
  box-sizing: border-box;
}

/*HEADER*/
.menuheader {
  height: 50px;
  width: 100%;
  font-family: Shrikhand;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuheader .menuheader__a {
  text-decoration: none;
  color: black;
  width: 25%;
  align-items: center;
  font-size: 1em;
}
.menuheader .menuheader__i {
  font-size: 18px;
  margin: 0 0 15px 18px;
}
.menuheader .menuheader__p {
  font-size: 25px;
}
.menuheader #space {
  width: 25%;
}

/*SECTION PHOTO*/
.banner {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

/*SECTION MENU*/
.menu {
  background-color: #f6f6f6;
  font-family: Roboto;
  border-radius: 2em 2em 0 0;
  margin-top: -35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  /*A VOIR AVEC QUENTIN
  @keyframes transition {
  0%   { translateY: 0px; opacity:0; }
  100% { translateY: 20px; opacity:1; }
  }
  */
}
@keyframes transition {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.menu .menu__article {
  opacity: 0;
  animation: transition 1s ease-in-out 2s forwards;
}
.menu .menu__article:nth-child(2) {
  animation: transition 1s ease-in-out 2.5s forwards;
}
.menu .menu__article:nth-child(3) {
  animation: transition 1s ease-in-out 3s forwards;
}
.menu .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 0;
  padding: 20px 20px 0px 0;
  width: 100%;
  position: relative;
}
.menu .heading .heading__h1 {
  font-size: 1.5em;
  font-family: Shrikhand;
  margin: 5px 20px 5px 0px;
}
.menu .heading .heading__icone {
  font-size: 1.5em;
  color: black;
  right: 0;
  /*A VOIR AVEC QUENTIN*/
  position: absolute;
}
.menu .heading .heading__icone .heading__icone-vide {
  position: absolute;
  opacity: 1;
  right: 0;
}
.menu .heading .heading__icone .heading__icone-vide:hover {
  opacity: 0;
  /*A VOIR AVEC QUENTIN*/
  transition: opacity 1000ms;
}
.menu .heading .heading__icone .heading__icone-plein {
  position: absolute;
  opacity: 0;
  right: 0;
}
.menu .heading .heading__icone .heading__icone-plein:hover {
  opacity: 1;
  /*A VOIR AVEC QUENTIN*/
  color: linear-gradient(to bottom right, #FF79DA, #9356DC);
  /*A VOIR AVEC QUENTIN*/
  transition: opacity 1000ms;
}
.menu .menu__h2 {
  font-size: 1.2em;
  font-weight: lighter;
  padding: 10px 0px 10px 0px;
  display: inline;
  text-align: left;
  margin: 15px 0 0 20px;
}
.menu .menu__h2 .underlined {
  border-bottom: 4px solid #99E2D0;
}
.menu .courses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu .menu__article {
  background-color: white;
  border-radius: 1em;
  width: 90%;
  margin: 5px 0px 10px 0px;
  box-shadow: 1px 1px 12px #c5c5c5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*pour les points de suspension

  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  */
}
.menu .menu__article .whitediv {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 5px 10px 5px 10px;
}
.menu .menu__article .whitediv .whitediv_mealname {
  font-weight: bold;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 5px;
}
.menu .menu__article .whitediv .whitediv_articlelign2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}
.menu .menu__article .whitediv .whitediv_articlelign2 .whitediv_articlelign2__p {
  font-size: 0.8em;
  margin-top: 2px;
  margin-bottom: 5px;
}
.menu .menu__article .greendiv {
  width: 0%;
  background-color: #99E2D0;
  border-radius: 0 1em 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 62px;
  transition: width 1s;
  overflow: hidden;
}
.menu .menu__article .greendiv .greendiv_tick {
  background-color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding-top: 2px;
  transform: rotate(0deg);
  transition: transform 1s;
}
.menu .menu__article .greendiv .greendiv_tick .fas.fa-check {
  color: #99E2D0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu__article:hover .greendiv {
  width: 25%;
  transition: width 1s;
}
.menu .menu__article:hover .greendiv .greendiv_tick {
  transform: rotate(360deg);
  transition: transform 1s;
}
.menu .button {
  text-align: center;
}
.menu .menu__button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  color: white;
  width: 180px;
  height: 40px;
  border-radius: 1.5em;
  border: 0px;
  margin-bottom: 40px;
  margin-top: 30px;
  box-shadow: 1px 1px 12px #c5c5c5;
}
.menu .menu__button:hover {
  background: linear-gradient(to bottom right, #FF93FA, #AD70F6);
  box-shadow: 2px 2px 14px #797979;
}

/*FOOTER*/
footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer .footer__logo {
  font-family: Shrikhand;
  font-size: 1.3em;
  margin-top: 0;
}
footer .footer__ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  font-size: 1.1em;
}
footer .footer__li {
  margin-bottom: 10px;
}
footer .footer__li .footer__i {
  width: 16px;
  margin-right: 8px;
}

/* RESOLUTION TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: auto;
  }

  /*HEADER*/
  .menuheader {
    height: 100px;
    /*A CHANGER*/
  }
  .menuheader .menuheader__a {
    width: 25%;
  }
  .menuheader .menuheader__i {
    font-size: 40px;
  }
  .menuheader .menuheader__p {
    font-size: 50px;
    width: 75%;
  }

  /*SECTION PHOTO*/
  .banner {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }

  /*SECTION MENU*/
  .menu .heading {
    justify-content: space-between;
    padding: 20px 50px 0px 30px;
  }
  .menu .heading .heading__h1 {
    font-size: 2em;
  }
  .menu .heading .far.fa-heart {
    font-size: 2em;
  }
  .menu .menu__h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  .menu .courses {
    width: 100%;
  }
  .menu .menu__article {
    width: 70%;
    height: 80px;
  }
  .menu .menu__article .mealname {
    font-size: 1.5em;
  }
  .menu .menu__article .articlelign2 .articlelign2__p {
    font-size: 1.3em;
  }
  .menu .menu__button {
    width: 250px;
    height: 50px;
    border-radius: 2em;
    font-size: 23px;
    margin: 50px 0 40px 0;
  }
}
/* RESOLUTION DESKTOP */
@media screen and (min-width: 1024px) {
  body {
    width: auto;
  }

  /*HEADER*/
  .menuheader {
    height: 100px;
    /*A CHANGER*/
  }
  .menuheader .menuheader__a {
    width: 25%;
  }
  .menuheader .menuheader__i {
    font-size: 40px;
  }
  .menuheader .menuheader__p {
    font-size: 50px;
    width: 75%;
  }

  /*SECTION PHOTO*/
  .banner {
    object-fit: cover;
    width: 100%;
    height: 500px;
  }

  /*SECTION MENU*/
  .menu .heading {
    justify-content: space-between;
    padding: 20px 50px 0px 30px;
  }
  .menu .heading .heading__h1 {
    font-size: 2.5em;
  }
  .menu .heading .far.fa-heart {
    font-size: 2em;
  }
  .menu .menu__h2 {
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  .menu .courses {
    width: 100%;
  }
  .menu .menu__article {
    width: 60%;
    height: 80px;
  }
  .menu .menu__article .mealname {
    font-size: 1.5em;
  }
  .menu .menu__article .articlelign2 .articlelign2__p {
    font-size: 1.3em;
  }
  .menu .menu__button {
    width: 250px;
    height: 50px;
    border-radius: 2em;
    font-size: 23px;
    margin: 50px 0 40px 0;
  }
}
/* RESOLUTION TABLETTE */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    width: auto;
    /*HEADER*/
    /* FORMULAIRE DE RECHERCHE */
    /* SECTION 1 - RESERVEZ ET EXPLOREZ */
    /* SECTION 2 - FONCTIONNEMENT */
    /* SECTION 3 - RESTAURANTS */
    /* FOOTER */
  }
  body header {
    height: 110px;
    font-size: 50px;
  }
  body .form {
    height: 80px;
  }
  body .form i {
    font-size: 30px;
  }
  body .form .form__recherche {
    padding-left: 14px;
    height: 25px;
    font-size: 25px;
    /*Ne marche pas*/
    margin-bottom: 10px;
  }
  body #br {
    display: none;
  }
  body .section1 .section1__h1 {
    font-size: 2em;
  }
  body .section1 .section1__p {
    font-size: 1.5em;
  }
  body .section1 .section1__button {
    width: 260px;
    height: 50px;
    border-radius: 2em;
    font-size: 1.2em;
  }
  body h2 {
    font-size: 2em;
  }
  body .section2 .section2__article {
    width: 70%;
    font-size: 30px;
  }
  body .section2 .section2__article .section2__number {
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
  body .section2 .section2__article .section2__i {
    font-size: 30px;
  }
  body h3 {
    font-size: 2em;
  }
  body .section3 .section3__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  body .section3 .section3__block .section3__article {
    width: 46%;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__divtext {
    font-size: 1.4em;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__divtext .section3__h4 {
    font-size: 1.2em;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__divtext .section3__p {
    margin: 5px 0 20px 0;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__icone {
    font-size: 1.4em;
  }
  body footer .footer__logo {
    font-size: 1.8em;
  }
  body footer .footer__ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.3em;
  }
  body footer .footer__li .footer__i {
    margin-right: 13px;
  }
}
/* RESOLUTION DESKTOP */
@media screen and (min-width: 1024px) {
  body {
    width: auto;
    /*HEADER*/
    /* FORMULAIRE DE RECHERCHE */
    /* SECTION 1 - RESERVEZ ET EXPLOREZ */
    /* SECTION 2 - FONCTIONNEMENT */
    /* SECTION 3 - RESTAURANTS */
    /* FOOTER */
  }
  body header {
    height: 160px;
    font-size: 70px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  }
  body .form {
    height: 120px;
  }
  body .form i {
    font-size: 30px;
  }
  body .form p {
    font-size: 25px;
  }
  body .form .form__recherche {
    font-size: 30px;
  }
  body #br {
    display: none;
  }
  body .section1 .section1__h1 {
    font-size: 2.6em;
    margin-bottom: 40px;
  }
  body .section1 .section1__p {
    font-size: 2.2em;
  }
  body .section1 .section1__button {
    width: 350px;
    height: 70px;
    border-radius: 2em;
    font-size: 1.7em;
    margin-top: 20px;
    margin-bottom: 60px;
  }
  body h2 {
    font-size: 2.3em;
  }
  body .section2 .section2__article {
    width: 60%;
    font-size: 30px;
  }
  body .section2 .section2__article .section2__number {
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
  body .section2 .section2__article .section2__i {
    font-size: 30px;
  }
  body h3 {
    font-size: 2.3em;
  }
  body .section3 .section3__block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
  body .section3 .section3__block .section3__article {
    width: 43%;
  }
  body .section3 .section3__block .section3__article .section3__img {
    width: 100%;
    height: 250px;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__divtext {
    font-size: 1.4em;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__divtext .section3__h4 {
    font-size: 1.2em;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__divtext .section3__p {
    margin: 5px 0 20px 0;
  }
  body .section3 .section3__block .section3__article .section3__box .section3__icone {
    font-size: 1.4em;
  }
  body footer .footer__logo {
    font-size: 2.5em;
  }
  body footer .footer__ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    font-size: 1.8em;
  }
  body footer .footer__li .footer__i {
    margin-right: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
